[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = "*"
dnspython = "*"
mongoengine = "*"
nonrel = {git = "https://github.com/django-nonrel/django"}
djangorestframework = "*"
djangorestframework-mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.10"
